<%- include ('../_layouts/adminheader') %>
<!-- <h2 class="page-title">Add a page</h2> -->
<!-- <a href="/admin/pages" class="btn btn-primary">Back to All pages</a> -->
<br><br>
<h1 class="page-title">Categories</h1>
<a href="/admin/categories/add-category" class="btn btn-primary">Add a new Category</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbo dy>
        <% categories.forEach(function(cat){%>

        <tr>
            <td><%= cat.title %></td>
            <td><a href="/admin/categories/edit-category/<%= cat.slug %>">Edit</a> </td>
            <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Delete</a> </td>
        </tr>
        <%})%>
    </tbo dy>

</table>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

<%- include ('../_layouts/adminfooter') %>