<%- include ('../_layouts/adminheader') %>
<h2 class="page-title">Edit product</h2>
<a href="/admin/products" class="btn btn-primary">Back to All products</a>
<br><br>
<form method="post" action="/admin/products/edit-product/<%= id %>" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="">Description</label>
        <textarea name="desc" class="form-control" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
    </div>

    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control">
            <%  categories.forEach(function(cat){ %>
            <option value="<%= cat.slug %>" <% if (cat.slug == category){ %> selected="selected" <% } %>>
                <%= cat.title %></option>
            <%  }) %>

        </select>
    </div>

    <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
    </div>

    <div class="form-group">
        <label for="">Current Image</label>
        <p>
            <% if (image == ""){ %>
            <img src="/images/noimage.png" id="noimage" alt="">
            <% } else {%>
            <img src="/product_images/<%= id %>/<%= image %>
                " id="noimage" alt="">

            <% } %>

        </p>
    </div>

    <div class="form-group">
        <label for="">Upload Image</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="../../images/noimage.png" id="imgPreview" alt="">
    </div>

    <!-- <input type="hidden" name="pimage" value="<%= image %> -->
    <!-- "> -->
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<hr>
<h3 class="page-header">Gallery</h3>

<ul class="gallery">
    <% galleryImages.forEach(function(images){ %>
    <% if (image != "thumbs"){ %>

    <li>
        <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>
                " alt="">&nbsp;
        <a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">Delete</a>
    </li>
    <% } %>
    <% }) %>

</ul>

<script>

    //Preview image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100)
            }
            reader.readAsDataURL(input.files[0])
        }
    }
    $("#img").change(function () {
        readURL(this)
    })

</script>

<%- include ('../_layouts/adminfooter') %>